# This file is generated, see build.rcl in the repository root.
[dependencies]
unicode-width = "0.1.10"

[package]
authors = ["Ruud van Asseldonk <dev@veniogames.com>"]
description = "A reasonable configuration language."
edition = "2021"
license = "Apache-2.0"
name = "rcl"
version = "0.6.0"

[profile]
release = { lto = "thin", panic = "abort", strip = true }
release-wasm = { codegen-units = 1, inherits = "release", lto = "fat", opt-level = "z" }

[workspace]
members = ["fuzz", "pyrcl", "grammar/tree-sitter-rcl", "wasm"]
