# This file is generated, see build.rcl in the repository root.

[dependencies]
arbitrary = "1.3.0"
libfuzzer-sys = "0.4.7"
rcl = { path = ".." }
serde = "1.0.114"
serde_json = "1.0.114"
toml = { default-features = false, features = ["parse"], version = "0.8.10" }
tree-sitter = "0.20.10"
tree-sitter-rcl = { path = "../grammar/tree-sitter-rcl" }

[package]
authors = ["Ruud van Asseldonk <dev@veniogames.com>"]
description = "Fuzz targets and helpers for testing RCL."
edition = "2021"
license = "Apache-2.0"
metadata = { cargo-fuzz = true }
name = "rcl-fuzz"
publish = false
version = "0.7.0"

[[bin]]
name = "smithctl"
path = "tools/smithctl.rs"

[[bin]]
doc = false
name = "fuzz_cli"
path = "fuzz_targets/fuzz_cli.rs"
test = false

[[bin]]
doc = false
name = "fuzz_escapes"
path = "fuzz_targets/fuzz_escapes.rs"
test = false

[[bin]]
doc = false
name = "fuzz_is_identifier"
path = "fuzz_targets/fuzz_is_identifier.rs"
test = false

[[bin]]
doc = false
name = "fuzz_smith"
path = "fuzz_targets/fuzz_smith.rs"
test = false

[[bin]]
doc = false
name = "fuzz_source"
path = "fuzz_targets/fuzz_source.rs"
test = false

[[bin]]
doc = false
name = "fuzz_string_len"
path = "fuzz_targets/fuzz_string_len.rs"
test = false

[[bin]]
doc = false
name = "fuzz_tree_sitter"
path = "fuzz_targets/fuzz_tree_sitter.rs"
test = false
