# This file is generated, see build.rcl in the repository root.

[build-dependencies]
cc = "1.0"

[dependencies]
tree-sitter = "0.20.10"

[lib]
path = "bindings/rust/lib.rs"

[package]
authors = ["Ruud van Asseldonk <dev@veniogames.com>"]
build = "bindings/rust/build.rs"
categories = ["parsing", "text-editors"]
description = "RCL grammar for the tree-sitter parsing library."
edition = "2021"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*"]
keywords = ["incremental", "parsing", "rcl"]
license = "Apache-2.0"
name = "tree-sitter-rcl"
version = "0.7.0"
